<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MeteorologiaWSSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://181.54.254.8:9191/MeteorologiaWS/services/MeteorologiaWS"
                binding="basicHttpBinding" bindingConfiguration="MeteorologiaWSSoapBinding"
                contract="srvUno.MeteorologiaWS" name="MeteorologiaWS" />
        </client>
    </system.serviceModel>
</configuration>
